.title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.title-canvas {
  display: block;
  max-width: 90%;
  height: auto; /* Maintain the aspect ratio */
  background: transparent;
}

text {
  font-family: 'Bungee Shade', cursive;
  font-size: 48px;
  fill: red;
  text-anchor: middle;
  stroke: white;
  stroke-width: 8px;
  paint-order: stroke fill;
}

/* Responsive Design */
@media (max-width: 768px) {
  text {
    font-size: 36px; /* Adjust font size for smaller screens */
    stroke-width: 6px;
  }

  .title-container {
    margin-bottom: 470px;
  }
}

@media (max-width: 480px) {
  text {
    font-size: 24px; /* Further reduce font size for very small screens */
    stroke-width: 4px;
  }

  .title-container {
    margin-bottom: 440px;
  }
}
